<div class="ui vertical menu">
  <a href="<%= articles_path %>" class="item <%= "active" if action_name == "index" %>">
    <i class="file outline icon"></i>
    Articles
  </a>

  <a class="item">
    <i class="trash icon"></i>
    Trash
  </a>
</div>
