<div class="ui menu">
  <%= link_to new_article_path, class: 'item' do %>
    <i class="add icon"></i>
    New
  <% end %>
  <div class="right menu">
    <a class="item" target="_blank" href="<%= root_path %>"><i class="external url icon"></i></a>
    <a class="item" title="Sign Out"><i class="sign out icon"></i></a>
  </div>
</div>
