<div class="ui tabular menu">
  <div class="right menu">
    <%= link_to trashed_dashboard_articles_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'item' do %>
      <i class="trash icon"></i>Empty
    <% end %>
  </div>
</div>
