// Allow CodeMirror reize to fit content
.CodeMirror {
  border: 1px solid #eee;
  line-height: 20px;
  min-height: 400px;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  .CodeMirror-sizer {
    padding: 10px 5px 0 5px;
  }
}

.CodeMirror-activeline-background {
  background: none repeat scroll 0% 0% rgb(255, 251, 235);
  border-radius: 3px;
}

.editor.topbar {
  top: 0;
  background-color: rgb(247, 247, 247);
}

.editor.wrapper {
  padding-top: 70px;
  width: 61%;
  margin: 0 auto 3em;
}

.upload.image {
  color: rgb(51, 51, 51);
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

// hidden choose file field
.hidden.field {
  display: none;
}
