.editor {
  .sidebar {
    position: fixed;
    right: 30px;
    top: 40px;
    width: 60px;
    height: 100%;
  }

  .main {
    width: 61%;
    margin: 40px auto 40px;
  }
}

.article.title {
  margin-left: -80px;
  color: rgb(212, 215, 217);

  #article_title {
    font-weight: bold;
    background-color: transparent;
    border: 1px solid transparent;
  }
}

.sidebar ul#sidebar {
  display: block;
  list-style: none outside none;
  padding: 0;

  li a {
    margin: 5px;
    background-image: none;
    background-color: rgb(248, 248, 248) !important;
  }

  .active {
    background-color: rgb(85, 85, 85) !important;
    color: rgb(239, 239, 239) !important;
  }
}

.upload.image {
  color: rgb(51, 51, 51);
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

// Allow CodeMirror reize to fit content
.CodeMirror {
  font-size: 16px;
  line-height: 20px;
  min-height: 400px;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-activeline-background {
  background-color:rgb(255, 251, 235);
  border-radius: 3px;
}

.ui.modal {
  top: 40%;
  margin-left: -25%;
  width: 50%;

  .content {
    padding-top: 1em;
  }

  .setting {
    margin-bottom: 1em;
  }
}
