<div class="article edit">
  <nav class="ui fixed transparent inverted main menu">
    <a class="link item" title="返回文章列表" href="<%= articles_path %>">
      <i class="level up icon"></i>
    </a>
    <a class="link item" target="_blank" href="<%= article_path(@article) %>">
      <i class="external url icon"></i>
    </a>
  </nav>

  <div class="ui basic segment">
    <%= render 'form' %>
  </div>
</div>
