<%= form_for @attachment, :html => {:multipart => true} do |f| %>
  <div class="field">
    <div class="ui input">
      <%= f.label :file, 'Image' %>
      <%= f.file_field :file %>
    </div>
  </div>
  <div class="actions field">
    <%= f.submit 'Upload', class: "ui button" %>
  </div>
<% end %>
