<footer>
  <div class="copyright">&copy; 2013 Edgar Wang</div>
  <div class="license">
    Content is licensed under a
    <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license">
      CC BY-NC-SA 3.0 License
    </a>
  </div>
</footer>
