<div class="editor toolbar">
  <div class="ui icon buttons">
    <a class="ui undo button" title="Undo" href="#undo"><i class="undo icon"></i></a>
  </div>
  <div class="ui icon buttons">
    <a class="ui header2 button" title="Header 2" href="#header2">H2</a>
    <a class="ui header3 button" title="Header 3" href="#header3">H3</a>
  </div>
  <div class="ui icon buttons">
    <a class="ui link button" title="Insert link" href="#link"><i class="url icon"></i></a>
    <a class="ui upload image button" title="Upload image" href="#image"><i class="photo icon"></i></a>
  </div>
  <div class="ui icon buttons">
    <a class="ui bold button" title="Bold" href="#bold"><i class="bold icon"></i></a>
    <a class="ui italic button" title="Italic" href="#italic"><i class="italic icon"></i></a>
  </div>
</div>
