<div class="ui article slug modal">
  <i class="close icon"></i>
  <div class="header">Article Slug</div>
  <div class="content">
    <div class="ui fluid input">
      <input id="article-slug" type="text" placeholder="article slug">
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div id="save-slug" class="ui positive button">OK</div>
  </div>
</div>
