<nav class="ui menu">
  <a class="link item" title="返回文章列表" href="<%= articles_path %>">
    <i class="level up icon"></i>
  </a>

  <% if @article.persisted? %>
    <div class="right floated menu">
      <a class="link item" target="_blank" href="<%= article_path(@article) %>">
        <i class="external url icon"></i>
      </a>
    </div>
  <% end %>
</nav>
