<%= form_for :attachment, url: attachments_path(:json), html: { multipart: true, id: 'upload-image' } do |f| %>
  <div class="ui segment">
    <a class="ui choose image button">
      选择文件
    </a>
    <span class="show image name">
    </span>
  </div>
  <div class="hidden field">
    <%= f.file_field :file %>
  </div>
  <div class="actions field">
    <%= f.submit 'Upload', class: "ui upload image button" %>
  </div>
<% end %>
