<%= form_for :attachment, url: attachments_path(:json), html: { multipart: true, id: 'upload-image' } do |f| %>
  <div class="field">
    <span class="ui button">
      选择文件
      <%= f.file_field :file %>
    </span>
  </div>
  <div class="actions field">
    <%= f.submit 'Upload', class: "ui upload image button" %>
  </div>
<% end %>
