/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require semantic.min
 *= require_tree .
 */

body {
  background: none repeat scroll 0% 0% rgb(253, 253, 253);
}

div.wrap {
  width: 55%;
  margin: 0px auto 5em;
}

section.top {
  margin-top: 12px;
}

.article {
  margin-bottom: 1em;
}
