@import "codemirror/lib/codemirror";

// Allow CodeMirror reize to fit content
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.ui.grid {
  padding-top: 20px;
  .sidebar.column {
  }
}

.content.column {
  .content.segment {
    border-radius: 0 0 0 0;
  }
}
