@import "normalize-css/normalize";
@import "semantic-rails/semantic.min";
@import "variables";

body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: $commonLineHeight;
  background: none repeat scroll 0% 0% rgb(253, 253, 253);
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: $commonLineHeight;
}

pre {
  background-color: #eee;
  padding: 10px;
}

a {
  color: rgb(229, 0, 83);
    text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

}

.header a {
  color: rgb(34, 34, 34);
  &:hover {
    color: rgb(229, 0, 83);
    text-decoration: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

// Add a new message form for show all
// kinds of messages
.ui.message.form {
  .success.message,
  .info.message,
  .warning.message,
  .error.message {
    display: block;
  }
}

footer {
  font-size: 85%;

  .copyright {
    float: left;
    padding-left: 10px;
  }
  .saying {
    float: right;
    padding-right: 10px;
  }
}
