// Allow CodeMirror reize to fit content
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.main.menu {
  background-color: transparent;
  border: none;
}

.editor.area {
  padding-top: 70px;
  width: 61%;
  margin: 0 auto 3em;
}
