// Allow CodeMirror reize to fit content
.CodeMirror {
  border: 1px solid #eee;
  min-height: 400px;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  .CodeMirror-sizer {
    padding: 10px 5px 0 5px;
  }
}

.CodeMirror-activeline-background {
  background-color: rgba(252, 210, 230, 0.6);
  border-radius: 3px;
}

.main.menu {
  background-color: transparent;
  border: none;
}

.editor.area {
  padding-top: 70px;
  width: 61%;
  margin: 0 auto 3em;
}
