<div class="editor">
  <div class="sidebar">
    <%= render "dashboard/editor/sidebar" %>
  </div>
  <div class="main">
    <header class="ui small header">
      <div class="article title">
        <span>Editing:</span>
        <a href="<%= article_path(@article) %>">
          <%= @article.title %>
        </a>
      </div>
    </header>
    <div class="editarea">
      <%= article_edit_tag @article, 'content-editor' %>
    </div>
  </div>
</div>
