<%= render "dashboard/editor/topbar" %>
<div class="editor wrapper">
  <div id="article">
    <div class="info"></div>
    <textarea id="content-editor" class="content" name="article[content]">
      <%= @article.content %>
    </textarea>
  </div>
</div>
