<ul id="sidebar" class="ui icon buttons">
  <li>
    <a class="ui edit basic button active" href="#" title="Edit">
      <i class="large edit icon"></i>
    </a>
  </li>
  <li>
    <a class="ui preview basic button" href="#" title="Preview">
      <i class="large unhide icon"></i>
    </a>
  </li>
  <li>
    <a class="ui setting basic button" href="#" title="Setting">
      <i class="large setting icon"></i>
    </a>
  </li>
  <li>
    <a class="ui save basic button" href="#" title="Save">
      <i class="large save icon"></i>
    </a>
  </li>
</ul>
