<nav id="topbar" class="ui fixed editor topbar menu">
  <a class="link item" title="返回文章列表" href="<%= dashboard_articles_path %>">
    <i class="level up icon"></i>
  </a>

  <a id="set-article-slug" class="item" title="URL">
    <i class="flag icon"></i>
  </a>

  <% if @article.persisted? %>
    <a class="link item" target="_blank" href="<%= dashboard_article_path(@article) %>">
      <i class="external url icon"></i>
    </a>
  <% end %>
</nav>
