<div class="ui upload image modal">
  <i class="close icon"></i>
  <div class="header">Upload Image</div>
  <div class="content">
    <%= render 'dashboard/editor/upload_image_form' %>
  </div>
</div>
